name: Build and Export Next.js (ZIP)

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Unzip project
        run: unzip "*.zip"

      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install
        run: npm install

      - name: Build
        run: npm run build

      - name: Export
        run: npm run export

      - name: Upload site
        uses: actions/upload-artifact@v4
        with:
          name: site
          path: out
